@page
@model TeaShop.Pages.Forms.CustomTeacshtmlModel
@{
}

<div class="text-center container">
    <h1>Create Your Own Tea</h1>
    <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 bg-light col-4">
        <input type="text" asp-for="Tea.TeaName" 
        placeholder="Give yout Tea a name...">
        <br />
        <select asp-for="Tea.Size" class="form-control mt-2">
            <option value="100g">100g</option>
            <option value="250g">250g</option>
            <option value="500g">500g</option>
            <option value="1kg">1kg</option>
        </select>
        <br />
        <input type="checkbox" asp-for="Tea.Cardamom" placeholder="Cardamom"/>Cardamom<br/>
        <input type="checkbox" asp-for="Tea.Cinnamon" placeholder="Cinnamon" />Cinnamon<br />
        <input type="checkbox" asp-for="Tea.Chamomile" placeholder="Chamomille" />Chamomille<br />
        <input type="checkbox" asp-for="Tea.Ginger" placeholder="Ginger" />Ginger<br />
        <input type="checkbox" asp-for="Tea.Lavender" placeholder="Lavender" />Lavender<br />
        <input type="checkbox" asp-for="Tea.Mint" placeholder="Mint" />Mint<br />
        <button class="btn btn-primary mt-1" type="submit">Buy</button>
    </form>
</div>